*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darksalmon;
}

p{
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px;
}

img{
    width: 100%;
}

.row{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.aside{
    background-color: hotpink;
    flex: 30%;
    padding: 10%;
}

.aside img{
    width: 80%;
    margin: 5px auto;
    display: block;
}

.section{
    background-color: crimson;
    flex: 70%;
    padding: 10px;

}
video{
    display: block;
    margin: auto;
    width: 80%;
    
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tarjetas .card{
    background-color: rgb(134,248,225);
    width: 200px;
    max-width: 300px;
    height: auto;
    border: 2px dashed darkkhaki;
    border-radius: 30px;
    box-shadow: 7px 7px black;
    padding: 10px;
    overflow: auto;
}

.tarjetas .card .contenido img{
    display: block;
    margin: auto;
    width: 60%;
}
.tarjetas .card .contenido .centrar{
    width: 70%;
    height: 70%;
    text-align: center;
    color: blueviolet;
    border-bottom: 3px solid blue;
    font-size: 20px;

}

.cuadro{
    display: flex;
    background-color: darkmagenta;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cuadro .imagen{
    flex: 35%;
}

.cuadro .imagen img{
    width: auto;
    height: auto;
    flex: 35%;
}

.cuadro .texto{
    font-size: 10px;
}